{% load static %}




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <h1>My Receipts </h1>

        <table>
            <colgroup span="6"></colgroup>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
            {% for item in receipt_object %}
            <tr>
                <td>{{ item.vendor }} </td>
                <td>{{ item.total }} </td>
                <td>{{ item.tax }} </td>
                <td>{{ item.date|date:"m/d/y" }} </td>
                <td>{{ item.category.name }} </td>
                <td>{{ item.account.name }} </td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>

</html>
